body {
  /* border: 1px solid purple; */
  background: white;
  height: 675px;
}

.header-container {
  background-color: #9A5D41;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
 width: 300px;
}

.main-container {
  /* border: 2px solid blue; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-nav {
  /* border: 1px solid seagreen; */
  width: 90%;
  height: 10%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-section {
  display: flex;
  flex-direction: row;
}

.total-spent-section {
	border: 1px solid gray;
	padding-right: 50px;
	padding-left: 50px;
}

.dashboard-container {
  /* border: 1px solid pink; */
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
	justify-content: space-between;
  align-items: center;
}

.trips-container {
	border: 1px solid #9A5D41;
	width: 70%;
	height: 90%;
	display: flex;
  flex-direction: column;
  align-items: center;
	overflow: scroll;
}

.trips-data-section {
  /* border: 1px solid aqua; */
  width: 95%;
  height: 100%;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 10px;
}

.new-trips-container {
  border: 1px solid orange;
  width: 25%;
  height: 90%;
	display: flex;
	justify-content: center;
}

.new-trips-form-section {
  /* border: 1px solid black; */
  width: 80%;
  height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.new-trip-input-form {
	/* border: 1px solid black; */
}

.trip-estimate {
	border: 1px solid black;
	width: 100%;
	height: 50%;
	margin-top: 20px;
}

.trip-button {
  border: 1px solid black;
  border-radius: 3px;
	margin: 2px;
	padding: 2px;
	cursor: pointer;
}

.trip-button:hover {
	background-color: gray;
	color: white;
}

.trips-data-section {
	display: flex;
	flex-direction: column;
}

.trip-row {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
}

.trip-attr {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.trip-image {
	height: 100%;
}

.hidden {
  display: none;
}